# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: helm-release

permissions: {}

on:
  push:
    tags:
      - v*

jobs:
  create-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write 
      pages: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Parse semver string
        id: semver 
        uses: booxmedialtd/ws-action-parse-semver@7784200024d6b3fc01253e617ec0168daf603de3 # v1.4.7
        with:
          input_string: ${{ github.ref_name }}
          version_extractor_regex: '^v(.*)$'
      - name: Install helm
        id: helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
      - name: Create charts tmp directory
        run: |
          set -e
          mkdir charts-tmp
          cp -a charts/kyverno-api charts-tmp/kyverno-api
      - name: Run chart-releaser
        uses: stefanprodan/helm-gh-pages@0ad2bb377311d61ac04ad9eb6f252fb68e207260 #v1.7.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          linting: off
          charts_dir: charts-tmp
          app_version: ${{ steps.semver.outputs.fullversion }}
          chart_version: ${{ steps.semver.outputs.fullversion }}
      # - name: Login to GitHub Container Registry
      #   run: |
      #     helm registry login --username ${GITHUB_ACTOR} --password ${{ secrets.GITHUB_TOKEN }} ghcr.io
      # - name: Publish OCI Charts
      #   env:
      #     COSIGN_REPOSITORY: ghcr.io/${{ github.repository_owner }}/signatures
      #   run: |
      #     for dir in `find charts-tmp -maxdepth 1 -mindepth 1 -type d -print`; do
      #       chart=${dir##*/}
      #       echo "Found chart: ${chart}"
      #       helm package charts-tmp/${chart} --destination .dist
      #       helm push .dist/${chart}-*.tgz oci://ghcr.io/${{ github.repository_owner }}/charts |& tee .digest
      #       cosign login --username ${GITHUB_ACTOR} --password ${{ secrets.GITHUB_TOKEN }} ghcr.io
      #       cosign sign --yes \
      #         -a "repo=${{ github.repository }}" \
      #         -a "workflow=${{ github.workflow }}" \
      #         -a "ref=${{ github.sha }}" \
      #         -a "kind=helm-chart" \
      #         ghcr.io/${{ github.repository_owner }}/charts/${chart}@$(cat .digest | awk -F "[, ]+" '/Digest/{print $NF}')
      #     done
